@page "/icecream"

<PageTitle>Ice Cream</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">


        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 filter-container">

            <MatH5>Filters</MatH5>

            <MatDivider></MatDivider>

            <MatCheckbox @bind-Value="@onlyInStock" Label="Only in stock"></MatCheckbox>

            <MatDivider></MatDivider>
            <MatBody1><br />Maximum Price: <b>@setMax</b></MatBody1>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatBody2>@setMin</MatBody2>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                    <MatSlider @bind-Value="@setMax" ValueMin="@setMin" ValueMax="@maxPrice" Discrete="true" Immediate="true"></MatSlider>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 ">
                    <MatBody2>@maxPrice</MatBody2>
                </div>
            </div>

            <MatBody1>Minimum Price: <b>@setMin</b></MatBody1>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatBody2>@minPrice</MatBody2>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                    <MatSlider @bind-Value="@setMin" ValueMin="@minPrice" ValueMax="@setMax" Discrete="true" Immediate="true"></MatSlider>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatBody2>@setMax</MatBody2>
                </div>
            </div>

            <MatDivider></MatDivider>

            <MatBody1><br />Color:</MatBody1>
            <MatCheckbox @bind-Value="@checkboxes[0]" Label="Red"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[1]" Label="Blue"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[2]" Label="Green"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[3]" Label="Yellow"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[4]" Label="Pink"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[5]" Label="Brown"></MatCheckbox>
            <br />
            <MatCheckbox @bind-Value="@checkboxes[6]" Label="White"></MatCheckbox>

        </div>


        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">

            <MatH1>Ice Creams</MatH1>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
                <div class="mat-layout-grid-inner">

                    @foreach (var card in @Global.cards)
                    {
                        <div class="@(@checkboxes[card.Color] && @card.Price <= setMax && @card.Price >= setMin && ( @card.InStock || !onlyInStock) ? "mat-layout-grid-cell mat-layout-grid-cell-span-3 card-style mat-card-content" : "hidden")">
                            <MatCard>
                                <MatCardContent>
                                    <MatCardMedia Wide="true" ImageUrl=@card.ImageUrl></MatCardMedia>
                                    <MatHeadline6>
                                        @card.Name
                                    </MatHeadline6>
                                    <MatSubtitle2>
                                        @card.Description
                                    </MatSubtitle2>
                                </MatCardContent>
                                <MatCardActions>
                                    <MatButtonLink OnClick="@card.onSelected" Href="/product">See more...</MatButtonLink>
                                    <MatCardActionIcons>
                                        <MatBody1>@card.Price Ft</MatBody1>
                                    </MatCardActionIcons>
                                </MatCardActions>
                            </MatCard>
                        </div>
                    }

                </div>
            </div>

        </div>

    </div>
</div>
