@* individual page of a product where the user can order *@

@page "/product"

<PageTitle>Product</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" align="center">
            <MatH2>
                @*Product name *@
                @Global.theChosenOne.Name
            </MatH2>
            <MatDivider></MatDivider>
            <br />
            <br />
        </div>
        
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>

        <div class="paper mat-layout-grid-cell mat-layout-grid-cell-span-4">
            @* Image of the product *@
            <img src="@Global.theChosenOne.ImageUrl" width="100%">
            <br />
            <br />
            
            @* Set amount to buy and show price *@
            <MatNumericUpDownField Label="Amount" @bind-Value=@amount DecimalPlaces=0 Minimum=0 Maximum=10></MatNumericUpDownField>
            <br />
            <br />

            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" align="left">
                    <MatBody1>Price for one: @Global.theChosenOne.Price</MatBody1>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" align="right">
                    <MatBody1>Price: @toPay()</MatBody1>
                </div>
            </div>

        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">

            @* Allergen table *@
            <MatTable Items="@allergens" ShowPaging="false">
                <MatTableHeader>
                    <th>Allergen</th>
                    <th>Contains</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Name</td>
                    <td>@context.Contains</td>
                </MatTableRow>
            </MatTable>

            <br />
            <br />
            <br />

            @* Add to cart button if it is in stock or sold out label is it is not *@
            @if (@Global.theChosenOne.InStock)
            {
                <div width="100%" align="center">
                    <MatButton Raised="true" Icon="payment" OnClick="@onAddToCart">Add to cart</MatButton>
                </div>
            }
            else
            {
                <div width="100%" align="center">
                    <MatBody1>Sold out</MatBody1>
                </div>
            }
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>

    </div>
</div>
