@inherits LayoutComponentBase
@inject NavigationManager NavManager

@*This component gives us the frame of every website.*@

@*header*@
<header>
    @*theme*@
    <MatThemeProvider Theme="@theme1">
        @*AppBar
            - a container
            - the actual appbar
            - one row of the appbar
        *@
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    @*Sections inside the row
                        - left section with the logo and home button
                        - right section with searchbar, cart and login
                    *@
                    <MatAppBarSection>
                        <MatIconButton Icon="home" OnClick="@HomeOnClick"></MatIconButton>
                        <MatAppBarTitle>WEBSHOP</MatAppBarTitle> @*TODO change text to actual logo or brand name*@
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatTextField Class="searchbar" @bind-Value="@myStringValue" Label="Search"></MatTextField>
                        <MatIconButton Icon="search"></MatIconButton>
                        <MatIconButton Icon="shopping_cart"></MatIconButton>
                        <MatIconButton Icon="account_circle" OnClick="@profileOnClick"></MatIconButton>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>

            @*body*@
            <div class="content">
                <MatAppBarContent>
                    @Body
                    <div class="span"></div>
                </MatAppBarContent>
            </div>

        </MatAppBarContainer>
    </MatThemeProvider>
</header>

@*footer
    - contacts, info
*@
<div class="footer">
    <h4>Contact us</h4>
    <p>E-mail</p>
    <p>Phone</p>
</div>
